/* @font-face { 
  font-family: myfont; 
  src: url('./assets/fonts/static/HankenGrotesk-Medium.ttf'); 
} */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*, body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url('tunde.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color: rgb(40, 9, 2+19);
}
